<div class="top-bar" id="main-menu">
      <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu="59nynz-dropdown-menu" id="branding" role="menubar">
          <li class="logo show-for-medium" role="menuitem">
            <a href="/" tabindex="0"><img src="assets/logo-red.svg" width="60">
            <span class="show-for-large-up">VOICE REPUBLIC</span>
            </a>
          </li>
          <li class="logo show-for-small-only" id="mobile-logo" role="menuitem">
            <a>
              <img src="assets/logo-red.svg" width="60">
            </a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-click-open="true" data-disable-hover="true" data-dropdown-menu="zoflyy-dropdown-menu" role="menubar">
          <li class="can-hide hide-for-small-only" role="menuitem">
            <a class="qa-explore" href="/explore" tabindex="0">Explore
            </a>
          </li>
          <li class="can-hide hide-for-small-only" role="menuitem">
            <a href="/venues">Stream Now
            </a>
          </li>
          <li class="can-hide" id="search-loupe" role="menuitem">
            <a href="#"><div class="svg-icon" title="search"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg></div></a>
          </li>
          <li class="has-submenu avatar hide-for-small-only is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="
              
            ">
            <a href="#">
              <img alt="User McUserson" class="avatar-image" height="36" src="assets/avatar.png" width="36">
            </a>
            <ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
              <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/users/nick-niles">My Profile</a></li>
              <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/talks/new?talk%5Bdryrun%5D=true">Test A Talk</a></li>
              <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/talks/new">Create a Live Talk</a></li>
              <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/uploads/new">Upload a Talk</a></li>
              <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
                <a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="search-container" style="display: none; visibility: hidden; opacity: 0; right: -800px;">
          <form action="/search" accept-charset="UTF-8" method="post" class="ng-pristine ng-valid"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="JwIaQgxTroA6K/wmBo6PFGymz0CEmLSCq2nTxEbuncUznYhSekrePssMCnXXEpFyvc8LPOjAQM7XwnDExwsDfA==">
                    <input class="search" id="search-field" name="query" placeholder="Search Voice Republic" type="text">
                    <label>
                      <button type="sumbit">
                        <div class="svg-icon" title="search"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg></div>
                      </button>
                    </label>
          </form>
          <button class="close-button" id="search-close" type="button">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
    </div>