---
layout: default
---

{% include topbar.html %}
<section class="dark" id="claim">
	<div class="row clearfix claim-content">
		<header class="small-12 small-push-12 columns">
			<h1>Home to the spoken word</h1>

			<span class="banner">
<span class="label-new">
Professional live audio streaming and archiving of events
</span>
			</span>

		</header>
		<div class="container medium-10 medium-offset-1 large-8 large-offset-2 columns">
			<a class="hide-for-medium button hollow btn-light-blue btn-hover-yellow" href="/users/sign_in"><span class="translation_missing" title="translation missing: en.root.index.login">Login</span></a>
			<a class="hide-for-medium button hollow btn-light-blue btn-hover-yellow" href="/users/sign_up"><span class="translation_missing" title="translation missing: en.root.index.join">Join</span></a>
			<div class="medium-6 columns feature">
				<p class="lead">
				</p>
				<div class="svg-icon" title="megaphone"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-megaphone"></use></svg></div>
				We specialize in professional live audio streaming &amp; archiving of events. <a href="pages/publish">Learn more »</a>

				<p></p>
				<a href="/pages/publish_talk"><button class="button hollow btn-white btn-hover-yellow">
Publish Now
</button>
</a></div>
			<div class="medium-6 columns feature">
				<p class="lead">
				</p>
				<div class="svg-icon" title="headphones"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-headphones"></use></svg></div>
				Listen to exclusive lectures and discussions with thought leaders. <a href="pages/listen">Learn more »</a>
				<p></p>
				<a href="/explore"><button class="button hollow btn-white btn-hover-yellow">
Listen Now
</button>
</a></div>
		</div>
	</div>
</section>


<!-- Tease -->
<section class="funky">
	<div class="row">
		<div class="container text-center">
			<div class="svg-icon" title="fireworks"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fireworks"></use></svg></div>

			<h2 class="text-center">Introducing: Streamboxx</h2>
			<div class="medium-6 columns medium-offset-3">
				<p class="sub-heading">Your all-in-one solution for simple live streaming and archiving of spoken-word events.</p>
			</div>
			<div class="row text-center">
				<div class="medium-8 columns medium-offset-2 ">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/OD076ZEOpFQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
			<div class="row">
				<h3>Features</h3>
				<p></p>
				<!-- 1 -->
				<div class="medium-4 medium-offset-1 large-offset-1 large-2 columns">
					<h5>Plug-And-Play</h5>
					<p>No setup necessary. It works right out of the box.</p>
				</div>
				<!-- 2 -->
				<div class="medium-4 large-2 columns">
					<h5>Intelligent</h5>
					<p>Can automatically begin and end streams, removing dead air at the beginning and end of a talk.</p>
				</div>
				<!-- 3 -->
				<div class="medium-4 large-2 columns">
					<h5>Scalable</h5>
					<p>You can control up to 25 stages from one computer.</p>
				</div>
				<!-- 4 -->
				<div class="medium-4 large-2 columns">
					<h5>Reliable</h5>
					<p>Even if the Streamboxx loses connection to the internet, it always makes a backup recording.</p>
				</div>
				<!-- 5 -->
				<div class="medium-4 large-2 columns">
					<h5>Helpful</h5>
					<p>The Streamboxx automatically saves the talk to the Voice Republic archive.</p>
				</div>
				<!-- <ul>
					<li>Plug-And-Play</li>
					<li>Smart Streaming and Recording</li>
					<li>Control Multiple Stages From One Computer</li>
					<li>Automatic Backup Recordings&mdash;even without internet</li>
					<li>Automatic Real-Time Archiving in your Voice Republic account</li>
				</ul> -->
			</div>
			<div class="row text-center">
				<a href="/explore"><button class="button hollow btn-white btn-hover-yellow">Learn More
					</button>
					</a>
					
					<a href="/streamboxx"><button class="button hollow btn-blue btn-hover-yellow">Order now
						</button>
						</a>
			</div>
		</div>
	</div>
</section>




<!--  Pubs-->
<section class="white text-center" id="publishers">
	<div class="row">
		<div class="container">
			<h2>
Some of the distinguished Publishers<br>on Voice Republic:
</h2>
		</div>
	</div>
	<div class="row">
		<div id="publisher-collection">
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/re-publica-15">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/republica.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/frankfurter-buchmesse">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/frankfurt.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/hkw-berlin">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/kulturen.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/zentrum-geschichte-des-wissens-eth-universitat-zurich">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/zgw.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/Morgenstadt">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/frauenhofer.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/maxim-gorki-theater">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/gorki.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/leipziger-buchmesse">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/leipziger.jpg">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/deutscher-ethikrat">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/deutscher-ethikrat.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/konrad-adenauer-stitung">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/konrad-adenauer.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/juedischesmuseumberlin">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/juedisches-museum-berlin.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/slush-helsinki">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/slush.png">
				</a>
			</div>
			<div class="publisher medium-4 small-6 columns">
				<a href="https://voicerepublic.com/users/nzzpodium-berlin">
					<img alt="" src="https://voicerepublic.com/images/sponsored_publishers/nzz.png">
				</a>
			</div>

		</div>
	</div>
	<div class="row clearfix">
		<a class="button hollow large" href="http://blog.voicerepublic.com/publishers-on-voice-republic?lang=en">More Publishers »
</a></div>
</section>
